<div class="container mt-5">
    <form action="/login" method="post">
        <input type="text" name="username" id="username" class="form-control" placeholder="Ingrese nombre de usuario" required>
        <br>
        <button type="submit" class="btn btn-success">Guardar</button> 
    </form>
</div>
